#cancel-button,.delete-area,.image-checkbox {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

.edit-buttons {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1000;
  height: 75px; /* Adjust this to change the height of the button bar */
  padding: 10px;
  margin: 10px;
}

#select-button,#cancel-button {
  width: auto;
  min-width: 75px;
  height: 75px;
  margin-right: 10px;
  font-size: 18px;
}

#select-button {
  border-radius: 100%;
  background-color: #3498db;
  color: #fff;
}

.contents {
  margin-top:80px; /* This should be the same as the height of .edit-buttons */
}

.image-checkbox {
  z-index: 9999;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.update-images-area {
  z-index: 99999;
  position: fixed;
  bottom: 20px; /* 下からの距離を指定 */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
}

.delete-area {
  order: 1;
  background-color: #e74c3c; /* 赤系の色 */
  color: #fff; /* 文字色は白 */
  right: 20px; /* 右からの距離を指定 */
  width: 125px;
  height: 125px;
  border-radius: 25%;
  cursor: pointer;
  overflow: hidden;
  font-size: 50px;
  line-height: 125px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
}

.upload-area {
  order: 2;
  right: 20px; /* 右からの距離を指定 */
  width: 125px;
  height: 125px;
  background-color: #3498db;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  font-size: 50px;
  line-height: 125px;
  text-align: center;
  color: #fff;
}

.upload-button input[type="file"] {
  order: 2;
  right: 20px;
  width: 125px;
  height: 125px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbnail {
  flex: 1 0 200px;
  margin: 5px;
  max-width: calc(100% - 10px);
  min-height: 200px;
  position: relative; /* Make this a relative container */
  overflow: hidden;
}

.thumbnail img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movie_thumbnail::after {
  content: "▶"; /* 再生マーク */
  position: absolute; /* Make this an absolute element */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px; /* 再生マークのサイズを調整 */
  color: white; /* 再生マークの色を設定 */
  background: rgba(0, 0, 0, 0.5); /* 再生マークの背景色を設定（半透明の黒） */
  border-radius: 50%; /* 再生マークの背景を円形にする */
  padding: 10px; /* 再生マークと背景の間にスペースを追加 */
}

@media screen and (min-width: 900px) {

  #select-button,#cancel-button {
    font-size: 28px;
  }

  .thumbnail {
    flex: 1 0 200px;
    max-width: calc(25% - 10px);
    min-height: 200px;
  }

  .image-checkbox {
    width: 40px;
    height: 40px;
  }
}
