<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label class="upload-button">
          +
          <input type="file" name="file" id="file" accept="image/*,video/*" multiple onchange="this.form.doSubmit.click()">
      </label>
      <input type="submit" value="Upload" name="doSubmit" hidden>
    </form>
    <p>ファイル一覧</p>
    <ul class="images">
    {% for image_file in image_files %}
      <li class="thumbnail"><img src="/assets/thumbnail/{{ image_file }}" loading="lazy" alt="{{ image_file }}"></li>
    {% endfor %}
    </ul>
  </body>
</html>
